.hidden {
  display: none !important;
}

/* background setting */
img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -9999;
  opacity: 0.7;
}
